@import url("https://fonts.googleapis.com/css2?family=Inter:wght@200&family=Noto+Sans+Mono:wght@500&family=Work+Sans:wght@400;800&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: white;
  font-family: "Work Sans", sans-serif;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
/* The typewriter cursor effect */
@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: rgb(166, 210, 255);
  }
}
@keyframes slideIn {
  0% {
    transform: translateY(-50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}
@keyframes slideFromBottom {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.hamburger-menu {
  display: flex;
  flex-direction: column;
  gap: 6px;
  width: max-content;
  position: absolute;
  top: 1em;
  left: 1em;
  z-index: 2;
  cursor: pointer;
}
.hamburger-menu input {
  appearance: none;
  padding: 0;
  margin: 0;
  outline: none;
  pointer-events: none;
}
.hamburger-menu input:checked {
  opacity: 0;
  width: 0;
}
@media (min-width: 768px) {
  .hamburger-menu {
    display: none;
  }
}

.hamburger-menu:has(input:checked)::before {
  rotate: 45deg;
  width: 38.183766184px;
  translate: 0 -2.5px;
  background-color: white;
}
.hamburger-menu:has(input:checked)::after {
  rotate: -45deg;
  width: 38.183766184px;
  translate: 0 2.5px;
  background-color: white;
}
.hamburger-menu:has(input:checked) + .sidebar {
  translate: 0;
}
.hamburger-menu:has(input:checked):has(input:focus-visible)::before, .hamburger-menu:has(input:checked):has(input:focus-visible)::after, .hamburger-menu:has(input:checked) input:focus-visible {
  border: 1px solid white;
  box-shadow: 0 0 0 1px #67b2fd;
}

.hamburger-menu:has(input:focus-visible)::before,
.hamburger-menu:has(input:focus-visible)::after,
.hamburger-menu input:focus-visible {
  border: 1px solid white;
  box-shadow: 0 0 0 1px #323233;
}

.hamburger-menu::before,
.hamburger-menu::after,
.hamburger-menu input {
  content: "";
  width: 40px;
  height: 5px;
  background-color: white;
  border-radius: 9999px;
  -moz-transition: opacity 200ms ease-in-out, width 200ms ease-in-out, rotate 200ms ease-in-out, translate 200ms ease-in-out, background-color 200ms ease-in-out;
  transition: opacity 200ms ease-in-out, width 200ms ease-in-out, rotate 200ms ease-in-out, translate 200ms ease-in-out, background-color 200ms ease-in-out;
  transform-origin: left center;
}

.profile {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  padding: 1em;
  padding-top: calc(27px + 4rem);
}
@media (min-width: 768px) {
  .profile {
    flex-direction: row;
    justify-content: end;
    margin-right: 30%;
    padding-top: 12em;
  }
}

.typewriter h1 {
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid rgb(166, 210, 255); /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: 0.1em; /* Adjust as needed */
  font-family: "Work Sans", sans-serif;
  -moz-animation: typing 1.5s steps(12, end), blink-caret 0.75s step-end infinite;
  animation: typing 1.5s steps(12, end), blink-caret 0.75s step-end infinite;
  animation-delay: 2s;
  animation-fill-mode: both;
  font-size: 2em;
  font-weight: 800;
}
@media (min-width: 768px) {
  .typewriter h1 {
    font-size: 3em;
  }
}

.profile-picture {
  display: flex;
  background-image: url("./profile-picture.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 15%;
  width: 8em;
  height: 8em;
  margin-bottom: 1em;
  -moz-animation: slideIn 1s cubic-bezier(0.12, 0.96, 0.72, 0.97);
  animation: slideIn 1s cubic-bezier(0.12, 0.96, 0.72, 0.97);
  animation-fill-mode: both;
  z-index: -1;
}
@media (min-width: 768px) {
  .profile-picture {
    border-radius: 0%;
    width: 15em;
    height: 15em;
    margin-top: 10%;
  }
}

header {
  display: flex;
  flex-direction: column;
  color: white;
}
@media (min-width: 768px) {
  header {
    color: #323233;
  }
}

.header-welcome {
  font-size: 1.5em;
  -moz-animation: fadeIn 1s ease-in-out;
  animation: fadeIn 1s ease-in-out;
  animation-delay: 1s;
  animation-fill-mode: both;
  z-index: -1;
}
@media (min-width: 768px) {
  .header-welcome {
    font-size: 2em;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
.sidebar {
  position: absolute;
  top: 0;
  transition: translate 200ms ease-in-out;
  translate: -100%;
  padding: 0.5rem 1rem;
  padding-top: calc(27px + 1em + 2rem);
  background-color: hwb(210 34% 7%/55);
  color: white;
  width: 100vw;
  min-height: 100vh;
  z-index: 1;
}
@media (min-width: 768px) {
  .sidebar {
    display: none;
  }
}

nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Work Sans", sans-serif;
  letter-spacing: 0.175em;
  margin-top: 1em;
}
nav a {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1rem;
  border: 1px solid white;
  width: 100%;
  margin: 0.5em;
  border-radius: 5px;
}
nav a img {
  height: 1.75rem;
}

a {
  text-decoration: none;
  color: white;
}
a:hover {
  text-decoration: underline;
}
a:focus {
  color: white;
}

.background-container {
  width: 100%;
  height: 100%;
}

.background-polygon {
  position: absolute;
  width: 100%;
  height: 100%;
  clip-path: polygon(0px 0px, 100% 0, 100% 300px, 0% 425px);
  background-color: #67b2fd;
  z-index: -1;
  flex: 1;
}
@media (min-width: 768px) {
  .background-polygon {
    clip-path: polygon(0 0, 100% 0, 100% 50px, 0 600px);
  }
}

.desktop-links {
  display: none;
}
.desktop-links ul {
  list-style-type: none;
  display: flex;
}
.desktop-links ul li {
  padding: 0.5em;
}
@media (min-width: 768px) {
  .desktop-links {
    display: flex;
    position: absolute;
    color: white;
    text-decoration: none;
    padding: 1em 10em;
  }
}

.desktop-anchor {
  border: none;
  font-size: 1.25em;
  letter-spacing: 0;
}

.introduction-container {
  font-family: "Work Sans", sans-serif;
  color: #323233;
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-size: 1.5em;
  font-weight: 800;
  margin-top: 3em;
  letter-spacing: 3px;
  padding: 1em;
  z-index: -1;
  -moz-animation: fadeIn 1s ease-in-out;
  animation: slideFromBottom 1s cubic-bezier(0.12, 0.96, 0.72, 0.97);
  animation-delay: 4s;
  animation-fill-mode: both;
}
@media (min-width: 768px) {
  .introduction-container {
    margin: 0;
    padding: 0;
    padding-right: 3em;
    font-size: 2.5em;
  }
}
.introduction-container span {
  display: flex;
  align-self: self-end;
}
.introduction-container :first-child {
  font-size: 1em;
}

.button-container {
  display: flex;
  justify-content: center;
}

.down-arrow {
  background-image: url("./icons8-down-arrow-48.png");
  background-repeat: no-repeat;
  background-position: center;
  width: 3em;
  height: 3em;
  background-color: white;
  border: none;
  animation: slideFromBottom 1s cubic-bezier(0.12, 0.96, 0.72, 0.97);
  animation-delay: 5s;
  animation-fill-mode: both;
  z-index: -1;
}
@media (min-width: 768px) {
  .down-arrow {
    width: 8em;
    height: 8em;
  }
}

.experience {
  margin-top: 2em;
  animation: slideFromBottom 1s cubic-bezier(0.12, 0.96, 0.72, 0.97);
  animation-delay: 5s;
  animation-fill-mode: both;
  z-index: -1;
  padding: 1em;
}
@media (min-width: 768px) {
  .experience {
    margin: 3em;
  }
}

.image-title-container {
  display: flex;
  gap: 2em;
  margin: 1em;
}

@media (min-width: 768px) {
  #braverhood {
    margin-top: 2em;
  }
}
#braverhood .logo-container {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  background-image: url("./braverhood.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 3em;
  height: 3em;
}

.title-container {
  display: flex;
  flex-direction: column;
  margin: 0;
}
.title-container a {
  color: rgb(8, 8, 200);
  text-decoration: none;
}
.title-container h1 {
  font-size: 1.25em;
  margin: 0;
  padding: 0;
}
.title-container p {
  padding: 0;
  margin: 0;
}

.work-date {
  font-size: 0.75em;
  display: flex;
  justify-content: flex-end;
}

#manhattan-youth .logo-container {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  background-image: url("./manhattan-youth.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 3em;
  height: 3em;
}

#east-broadway .logo-container {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  background-image: url("./tooth.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 3em;
  height: 3em;
}

@media (min-width: 768px) {
  .description {
    padding: 1em 3em;
  }
}

#general-assembly .logo-container {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  background-image: url("./general-assembly.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 3em;
  height: 3em;
}

#brooklyn-college .logo-container {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  background-image: url("./brooklyn-college.jpeg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 3em;
  height: 3em;
}

#jump-quest .logo-container {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  background-image: url("./jump-quest.gif");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 3em;
  height: 3em;
}

@media (min-width: 768px) {
  .section-title {
    font-size: 1.5em;
  }
}

.projects-content,
.education-content {
  margin-top: 2em;
}

#dogvana .logo-container {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  background-image: url("./poodle.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 3em;
  height: 3em;
}

#huddle-and-chill .logo-container {
  display: flex;
  justify-content: center;
  align-self: center;
  flex-direction: column;
  background-image: url("./icon.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 3em;
  height: 3em;
}

.description-box {
  margin-top: 1em;
  padding: 1em;
  border: 1px solid black;
  border-radius: 5%;
  box-shadow: 3px 3px 3px grey;
}
@media (min-width: 768px) {
  .description-box {
    border-radius: 10px;
    margin-top: 2em;
    padding: 2em;
  }
}

@media (min-width: 768px) {
  .welcome-container {
    padding-top: 6em;
    margin-left: 10em;
  }
}

/*# sourceMappingURL=styles.css.map */
